{% extends 'base.html' %}


{% block content %}

      <form action="" method="post" style="width: 50%;margin:60px auto">
          {% csrf_token %}

          <div class="input-control has-icon-left">
  <input id="inputAccountExample1" type="text" class="form-control" name="title" placeholder="qustion" value="{{ question.title }}">



</div>
          <div class="input-control has-icon-left" style="margin-top: 20px">
              <textarea id="inputPasswordExample1" class="form-control" placeholder="" name="Recommendation" rows="10">

                  {{ question.Recommendation }}
              </textarea>

</div>


          <div class="container-fluid">



          <input class="btn btn-primary" type="submit" style="margin:20px auto" value="修改"/>

      </div>

      </form>

{% endblock %}